<h1>Заполните данные для входа</h1>
<hr class="green-line">
<form>
  <label for="username"
    >Логин:<input
      [(ngModel)]="username"
      placeholder="Введите логин"
      [ngModelOptions]="{ standalone: true }"
  /></label>
  <label for="password"
    >Пароль:
    <input type="password"
      [(ngModel)]="password"
      placeholder="Введите пароль"
      [ngModelOptions]="{ standalone: true }"
  /></label>
  <button type="submit" (click)="validation()">Войти</button>
  <div *ngIf="error" style="color: red">{{ error }}</div>
</form>
